.home-banner {
  background: $black;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: -1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/night-sky.jpg");
    opacity: 0.25;
    z-index: -1;
  }

  &__content {
    height: 100%;
    width: 100%;
    @include flex(column nowrap, center, center, center);
    text-align: center;
    z-index: 3;
    padding-top: rem(50);
    padding-bottom: rem(50);

    @include media('>=sm') {
      padding-top: rem(150);
      padding-bottom: rem(150);
    }

    @include media('>=lg') {
      padding-top: rem(200);
      padding-bottom: rem(200);
    }

    h2 {
      color: $pure-white;
      font-weight: 500;
    }
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &--planet, &--sparkles {
      position: absolute;
    }

    &--planet {
      top: 0;
      bottom: 0;
      left: 0;
      margin: 0 rem(50) rem(80) rem(50);
    }

    &--sparkles {
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}
