@mixin rem($px) {
  $base: 16;
  @return ($px / $base) + rem;
}

@mixin flex(
  $flow: row nowrap,
  $just: center,
  $ac: center,
  $ai: center
) {
  display: flex;
  flex-flow: $flow;
  justify-content: $just;
  align-content: $ac;
  align-items: $ai;
}

@mixin mw($mw) {
  max-width: $mw;
  flex: 0 0 $mw;
}
