// Box Shadows
$shadow-default: rem(8) rem(8) rem(30) rem(-5) rgba(0, 0, 0, 0.25);
$shadow-wrapper: rem(0) rem(-20) rem(50) rem(-10) rgba(0, 0, 0, 0.2);

// Transitions
$transition-default: all 0.3s background;
